@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
}

#whiteboard-wrapper {
    height: 100vh;
    background-color: #fff;
    color: #333;
}

#toolpicker-wrapper {
    width: 100%;
    height: 5%;
    background-color: #888;
    color: #fff;
}